ResolverEcucacionCuadratica.Test.Wcf/Service References/SICuadratica/ResolverEcucacionCuadratica.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52444/ResolverEcucacionCuadratica.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfResolverEcuacionCuadratica" />
  <xs:element name="ResolverEcuacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primer" type="xs:double" />
        <xs:element minOccurs="0" name="segundo" type="xs:double" />
        <xs:element minOccurs="0" name="tercer" type="xs:double" />
        <xs:element minOccurs="0" name="x1" type="xs:double" />
        <xs:element minOccurs="0" name="x2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResolverEcuacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="x1" type="xs:double" />
        <xs:element minOccurs="0" name="x2" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfResolverEcuacionCuadratica" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfResolverEcuacionCuadratica" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>